# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
.pytest_cache/
.coverage
htmlcov/
.pytype/
*.ipynb_checkpoints
*.sqlite
uploads/

# OS specific
.DS_Store
Thumbs.db